name: CI

on: [push, pull_request]

jobs:
  build:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: beta
        override: true
    - run: cargo test --all-features -p audio -p audio-core -p audio-generator -p ste

  build-wasapi:
    runs-on: windows-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: beta
        override: true
    - run: cargo test -F wasapi -p audio-device

  build-alsa:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: beta
        override: true
    - name: install libasound2-dev
      run: sudo apt install libasound2-dev
    - run: cargo test -p audio-device -F alsa

  build-pulse:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions-rs/toolchain@v1
      with:
        toolchain: beta
        override: true
    - name: install libpulse-dev
      run: sudo apt install libpulse-dev
    - run: cargo test -p audio-device -F pulse
